<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweet Cakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="donut.css"/>
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
    
</head>
<body>

<h1 class="content-heading">Cupcakes</h1>
<hr>
<div class="content-navbar">
<a class="link-nav" href = "<%= url('/')%>">HOME</a>
<a class="link-nav" href="<%= url('/muffins')%>">MUFFINS</a>
<a class="link-nav" href="<%= url('/cupcakes')%>">CUPCAKES</a>
<a class="link-nav" href="<%= url('/cakes')%>">CAKES</a>
</div>


<div class="pastries">
<% @mycupcakes.each do |item| %>
    <div class="inner-container">
    <img src ="<%=item.picture%>">
    <h2><%=item.name%></h2>
    <p class="content-description"><%=item.price%></p>
    <p class="content-description"><%=item.description%></p>
    </div>
<%end%>

</div>


</body>
</html>